<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HHResumeAppend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HHResumeAppend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HHResumeAppend.Properties.Settings>
            <setting name="BearerToken" serializeAs="String">
                <value />
            </setting>
        </HHResumeAppend.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HHResumeAppend.Properties.Settings>
            <setting name="GitHubURL" serializeAs="String">
                <value>https://github.com/WutADude</value>
            </setting>
        </HHResumeAppend.Properties.Settings>
    </applicationSettings>
</configuration>